.body-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  align-self: center;
  .inner-box{
    display: flex;
    flex-direction: column;
    .cards{
      display: flex;
      width: 1240px;
      justify-content: space-between;
      margin: -5vh 0 5vh;
      .card{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vh 0 0vh;
        border-radius: 16px!important;
        .img-box{
          img{
            width: 100%;
            height: 315px;
            margin: 0;
            padding: 0;
            border-radius: 16px 16px 0 0 ;
          }
        }
        .des-box{
          background: rgba(255, 255, 255, 0.05);
          text-align: left;
          width: 400px;
          height: 144px;
          margin-top: -5px;
          border-radius: 0 0 16px 16px;
          padding: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1{
            color: #ffffff;
            align-self: flex-start;
            font-family: GothamRoundedLight;
            margin: 10px 0;
          }
          p{
            margin: 0;
            color: #ffffff;
            font-family: GothamRoundedBook;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .hrv-tracker{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 5vh 0;
    /*
    .show-scroll {
      z-index: 999;
      position: fixed!important;
      transition: 350ms ease-in;
    }
    .end-scroll{
      top: 0;
      z-index: 999;
      right: 0;
      position: sticky;
      transition: 350ms ease-in;
    }
    .iphone{
      width: 490px;
      height: 900px;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      position: sticky;
      left: 0;
    }
    */
    .ref{
      .iphone{
        width: 490px;
        height: 980px!important;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        position: sticky;
        left: 0;
      }
    }
    .iphone-static{
      width: 490px;
      height: 980px;
      position: sticky;
    }
    .hrv-des{
      align-self: flex-end!important;
      overflow-y: hidden;
      text-align: left;
      width: 600px;
      right: 0;
      position: relative;
      overflow-y: hidden;
      .upper-des{
        margin: 5vh 0 10vh;
        .hrv-title{
          font-family: GothamRoundedLight;
          color: #ffffff;
          font-weight: 300;
          font-size: 48px;
          width: 500px;
          letter-spacing: 1px;
          line-height: 53px;
          margin: 10px 0 30px;
        }
        p{
          color: #ffffff;
          opacity: 0.7;
          font-size: 16px;
          font-weight: 300;
          font-family: GothamRoundedBook;
          line-height: 24px;
        }
        .hrv-blocks{
          margin: 40px 0;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          .hrv-block-wrapper{
            width: 180px;
            height: 180px;
            .img-box{
              img{
                width: 30px;
                height: 30px;
              }
            }
            .des-box{
              .inner-box{
                margin: 25px 0 0;
                .des{
                  font-family: GothamRoundedBook;
                  opacity: 0.7!important;
                  margin: 0;
                }
                .sup-des{
                  opacity: 0.4;
                  margin: 0;
                }
              }
            }
          }
        }
      }
      }
    .movement-block{
      display: flex;
      flex-direction: column;
      margin-top: 15vh;
      bottom: 12vh;
      right: 0;
      width: 600px;
      text-align: left;
      .move-title{
        font-family: GothamRoundedLight;
        color: #ffffff;
        font-size: 48px;
        font-weight: 300;
      }
      p{
        font-family: GothamRoundedBook;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        opacity: 0.7;
        line-height: 24px;
      }
      .movement-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .move-box{
          text-align: left;
          width: 210px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 16px;
          height: 130px;
          padding: 40px;
          margin: 10px 0;
          div{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
              margin: 0;
              font-size: 24px;
              font-family: GothamRoundedBook;
              color: #ffffff;
            }
            p{
              font-size: 14px;
              font-family: GothamRoundedBook;
              color: #ffffff;
              line-height: 24px!important;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .hrv-tracker-mobile{
    display: none;
  }
  .promo{
    background-size:cover;
    width: 1240px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    z-index: 999;
    video{
      border-radius: 16px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .promo-block{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 250px;
      h1{
        font-family: GothamRoundedLight;
        color: #ffffff;
        font-size: 48px;
        font-weight: 300;
        width: 730px;
        margin: 0;
        letter-spacing: -0.02em;
      }
      .promo-btns{
        display: flex;
        .disabled{
          cursor: default;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border: none;
          border-radius: 16px;
          padding: 20px;
          width: 150px;
          height: 35px;
          margin-right: 10px;
          background: transparent;
          opacity: 0.5;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 16px;
        }
        .ios-btn{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border: none;
          border-radius: 16px;
          padding: 20px;
          width: 150px;
          height: 35px;
          margin-right: 10px;
          background: transparent;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 16px;
          cursor: pointer;
          img{
            width: 120px;
            height: 35px;
          }
          .appstore{
            width: 24px;
            height: 27px;
          }
          .android{
            width: 29px;
            height: 16px;
          }
        }
      }
    }
  }
  .advancedAI{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 0;
    font-family: GothamRoundedLight;
    width: 750px;
    letter-spacing: -0.02em;
    img{
      width: 600px;
      height: 300px;
    }
    h1{
      font-size: 48px;
      font-weight: 300;
      font-family: GothamRoundedLight;
      color: #ffffff;
      opacity: 0.4;
    }
    p{
      color: #ffffff;
      font-family: GothamRoundedBook;
      font-weight:lighter;
      letter-spacing: 1px;
      font-size: 16px;
      opacity: 0.4;
      line-height: 24px;
    }
  }
  .join{
    background-size:cover;
    width: 1240px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:5vh 0;
    position: relative;
    video{
      border-radius: 16px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .alert-web{
      position: absolute;
      top: 30vh;
      margin-top: 5%;
      bottom: 0vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sc-bcXHqe{
        width: 352px;
        height: 64px;
        background: #262727;
        border-radius: 16px;
        display: flex;
        justify-content: space-evenly;
        .succsess-text{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: "GothamRoundedLight";
          font-size: 16px;
          letter-spacing: 0.5px;
          font-weight: 300;
          color: #FFFFFF!important;
          opacity: 0.4;
        }
        img{
          align-self: center;
          width: 18px;
          height: 18px;
        }
      }
      .sucsess-disable{
        display: none;
      }
      .error{
        display: flex;
        background: #262727;
        border-radius: 16px;
        align-items: center;
        justify-content: space-around;
        width: 437px;
        height: 65px;
        img{
          width: 20px;
          height: 19px;
        }
        .err-text{
          font-family: "GothamRoundedLight";
          font-size: 16px;
          letter-spacing: 0.5px;
          color: #FF0606;
        }
      }
    }
    .join-des{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 250px;
      .err-message{
        color: #FF0606!important;
        font-size: 12px!important;
        opacity: 1;
      }
      h1{
        font-size: 48px;
        font-weight: 300;
        color: #ffffff;
        margin: 0;
        font-family: GothamRoundedLight;
        letter-spacing: -0.02em;
      }
      span{
        color: #ffffff;
        font-weight:lighter;
        font-size: 16px;
        opacity: 0.4;
        font-family: GothamRoundedBook;
      }
      .join-input{
        display: flex;
        align-items: center;
        .submit-input{
          padding: 0 30px;
          width: 303px;
          height: 61px;
          font-size: 16px;
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 16px;
          font-family: GothamRoundedLight;
          outline: none;
        }
        input[type=text]{
          color: #FFFFFF;
        }
        input::placeholder{
          color: #FFFFFF;
          opacity: 0.7;
          font-family: GothamRoundedBook;
        }
        .error-input{
          background: rgba(255, 6, 6, 0.05);
          border: 1px solid #FF0606;
          padding: 0 30px;
          width: 303px;
          height: 61px;
          font-size: 16px;
          border-radius: 16px;
          font-family: GothamRoundedLight;
          outline: none;
        }
        .err-mail{
          background: rgba(255, 6, 6, 0.05);
          border: 1px solid #FF0606;
        }
        button{
          width: 65px;
          height: 65px;
          margin-left: 20px;
          background: rgba(255, 255, 255, 0.1);
          opacity: 0.5;
          border-radius: 16px;
          border: none;
          cursor: pointer;
          img{
            width: 4px;
            height: 10px;
          }
        }
      }
    }
  }
  .alert{
   display: none;
  }
}

@media(max-width: 430px){
  .body-wrapper{
    max-width: 430px;
    width: 100%;
    .inner-box{
      display: flex;
      flex-direction: column;
      .cards{
        width: 315px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh 0 10vh;
        .card{
          width: 315px;
          height: 405px;
          margin: 10px 0;
          .img-box{
            img{
              width: 315px;
              height: 240px;
            }
          }
          .des-box{
            width: 315px;
            height: 163px;
            .inner-box{
              h1{
                font-size: 24px;
                font-weight: 300;
                letter-spacing: -0.02em;
              }
              p{
                font-size: 14px;
                line-height: 21px;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    .hrv-tracker{
      display: none;
    }
    .hrv-tracker-mobile{
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 315px;
      font-family: GothamRoundedLight;
      h1{
        color: #FFFFFF;
        font-family: GothamRoundedLight;
        font-size: 24px;
        width: 220px;
        letter-spacing: -0.02em;
        line-height: 31px;
      }
      p{
        font-family: GothamRoundedBook;
        color: #FFFFFF;
        opacity: 0.7;
        line-height: 21px;
        font-size: 14px;
      }
      .hrv-blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5vh 0 3vh;
        .hrv-block-wrapper{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .img-box{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img{
              width: 24px;
              height: 24px;
            }
          }
          .des-box{
            .inner-box{
              width: 144px;
              margin: 20px 0 0;
              .des{
                margin: 0;
              }
              .sup-description{
                margin: 0;
                opacity: 0.7;
              }
            }
          }
        }
      }
      .movement-block{
        margin-top: 5vh;
        .move-title{
          color: #FFFFFF;
          width: 250px;

        }
        p{
          font-size: 14px;
          line-height: 21px!important;
          margin-bottom: 5vh;
          opacity: 0.7;
        }
        .move-box{
          background: rgba(255, 255, 255, 0.05);
          border-radius: 16px;
          padding: 30px 20px;
          margin: 10px 0;
          justify-content: space-between;
          h1{
            width: 100%;
            font-size: 18px;
            font-family: GothamRoundedLight;
            color: #FFFFFF;
            letter-spacing: -0.02em;
            margin: 0px 0 20px;
          }
          p{
            font-family: GothamRoundedBook;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.7;
            margin: 0;
          }
        }
      }
    }
    .promo{
      width: 315px;
      height: 335px;
      .promo-block{
        width: 315px;
        height: 335px;
        justify-content: space-around;
        h1{
          margin-top: 2vh;
          width: 275px;
          letter-spacing: -0.02em;
          font-size: 32px;
        }
        .promo-btns{
          margin-bottom: 3vh;
          a{
            width: 90px!important;
            height: 25px!important;
            padding: 20px;
            img{
              width: 95% !important;
              height: 24px!important;
            }
            .appstore{
              width: 17px;
              height: 21px;
            }
            .android{
              width: 19px;
              height: 11px;
            }
            .button-des{
              span{
                font-size: 6px;
              }
              p{
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .advancedAI{
      margin: 0;
      max-width: 430px;
      width: 100%;
      img{
        width: 315px;
        height: 155px;
      }
      h1{
        width: 315px;
        font-size: 32px;
        letter-spacing: -0.02em;
      }
      p{
        font-size: 14px;
        width: 315px;
        line-height: 21px;
      }
      .alert{
        display: none;
      }
    }
    .join{
      max-width: 430px;
      width: 315px;
      height: 327px;
      margin: 5vh 0;
      .alert-web{
        display: none;
      }
      .join-des{
        h1{
          font-size: 32px;
          width: 50%;
          letter-spacing: -0.02em;
        }
        span{
          width: 275px;
          font-size: 14px;
          line-height: 21px;
          font-family: GothamRoundedBook;
        }
        .join-input{
          display: flex;
          justify-content: space-between;
          width: 275px;
          input{
            width: 130px!important;
          }
          input::placeholder{
            font-family: GothamRoundedBook;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.7;
          }
        }
      }
    }
    .alert{
      margin-bottom: -6vh;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sc-gswNZR{
        width: 232px;
        height: 64px;
        background: #262727;
        border-radius: 16px;
        display: flex;
        justify-content: space-evenly;
        .succsess-text{
          width: 133px;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: "GothamRoundedLight";
          font-size: 14px;
          font-weight: 300;
          color: #FFFFFF!important;
        }
        img{
          align-self: center;
          width: 30px;
          height: 30px;
        }
      }
      .sucsess-disable{
        display: none;
      }
      .error{
        display: flex;
        background: #262727;
        border-radius: 16px;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 65px;
        img{
          width: 33px;
          height: 31px;
        }
        .err-text{
          text-align: left;
          width: 200px;
          font-family: "GothamRoundedLight";
          font-size: 14px;
          color: #FF0606;
        }
      }
    }
  }
}
