@font-face {
    font-family: 'GothamRoundedRegular';
    font-style: normal;
    src: url('./GothamRounded-Medium.otf'); /* IE9 Compat Modes */
    src: local('GothamRoundedRegular'),
    url('./GothamRounded-Medium.otf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'GothamRoundedBook';
    font-style: normal;
    src: url('./GothamRounded-Book.otf'); /* IE9 Compat Modes */
    src: local('GothamRoundedBook'),
    url('./GothamRounded-Book.otf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: "GothamRoundedBold";
    font-style: normal;
    src: url("./GothamRoundedBold_21016.ttf");
    src: local('GothamRoundedBold'),
    url('./GothamRoundedBold_21016.ttf')
}

@font-face {
    font-family: "GothamRoundedLight";
    font-style: normal;
    src: url("./GothamRoundedLight_21020.ttf");
    src: local('GothamRoundedLight'),
    url('./GothamRoundedLight_21020.ttf')
}

